@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Russo+One&display=swap');

body, html {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: "Poppins", Arial, sans-serif !important;
    font-weight: 700 !important;
}

*, div.container-fluid, h1, h2, h3, h4, h5, p {
    font-family: "Poppins", Arial, sans-serif !important;
    font-weight: 700 !important;
}

header {
    background-color: rgba(254, 154, 76, 0.9);
    padding: 0;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

header a {
    padding-left: 20px;
    text-decoration: none;
    color: white !important;
}

header img {
    margin-left: 20px;
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.5));
}

header ul {
    margin-right: 20px;
}

header .nav-link {
    color: white;
    transition: color 0.3s;
}

header .nav-link:hover {
    color: white;
}

header span {
    font-family: 'Russo One', sans-serif !important;
    color: white !important;
    text-shadow: none !important;
}

#main {
    flex-grow: 1;
    padding: 1rem;
}

.btn-custom {
    background-color: #fe9a4c;
    color: white;
    border: none;
    transition: background-color 0.3s;
}

.btn-custom:hover {
    background-color: #d67e2e;
}

footer {
    background-color: #ffc29e;
    color: white !important;
    padding: 0.5rem 0;
    margin-top: auto;
    width: 100%;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
}

footer p,
footer a {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    color: white !important;
}

footer a {
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

.text-main {
    color: #fe9a4c;
}

.text-dark {
    color: #222;
}

.text-light {
    color: #ffc29e;
}

.nav-pills .nav-link.active {
    background-color: #d67e2e !important;
    color: white !important;
}

#logo-text {
    text-shadow: none;
}

p {
    font-size: 1.2rem;
    line-height: 1.5;
}

.lead {
    font-size: 1.25rem;
    line-height: 1.6;
    margin-bottom: 1.5rem;
}

.shadow {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}
