html, body {
    height: 100%; /* Устанавливаем высоту на 100% */
    margin: 0; /* Убираем отступы */
}

body {
    display: flex; /* Делаем body флекс-контейнером */
    flex-direction: column; /* Устанавливаем направление по вертикали */
    background-repeat: repeat;
}

.container {
    flex: 1; /* Позволяем контейнеру занимать оставшееся пространство */
}