<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LaptaHub</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'main/css/styles.css' %}"> <!-- Подключение вашего CSS -->
    <style>
        body {
            background-image: url("{% static 'main/images/pattern.svg' %}")
        }
    </style>
</head>
<body>

<header class="d-flex flex-wrap justify-content-between align-items-center py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-decoration-none">
        <img src="{% static 'main/images/logo.svg' %}" alt="Логотип" width="40" height="32" class="me-2">
        <span class="fs-4 text-dark">LaptaHub</span>
    </a>
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a href="{% url 'home' %}" class="nav-link btn-custom">Главная</a>
        </li>
        <li class="nav-item">
            <a href="{% url 'teams' %}" class="nav-link btn-custom">Команды</a>
        </li>
        <li class="nav-item">
            <a href="{% url 'matches' %}" class="nav-link btn-custom">Матчи</a>
        </li>
        <li class="nav-item">
            <a href="{% url 'seasons' %}" class="nav-link btn-custom">Сезоны</a>
        </li>
        <li class="nav-item">
            <a href="{% url 'about' %}" class="nav-link btn-custom">О нас</a>
        </li>
    </ul>
</header>

<div class="container">
    {% block content %}
    {% endblock %}
</div>

<footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a href="{% url 'home' %}" class="nav-link px-2">Главная</a></li>
        <li class="nav-item"><a href="{% url 'teams' %}" class="nav-link px-2">Команды</a></li>
        <li class="nav-item"><a href="{% url 'matches' %}" class="nav-link px-2">Матчи</a></li>
        <li class="nav-item"><a href="{% url 'seasons' %}" class="nav-link px-2">Сезоны</a></li>
        <li class="nav-item"><a href="{% url 'about' %}" class="nav-link px-2">О нас</a></li>
    </ul>
    <p class="text-center">© 2024 LaptaHub, Inc</p>
</footer>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz4fnFO9gyb5NDRZwP3a6lGOBRzE6MZrrg3Wg6U4H44m0Z7z2Rzp6POYJ6"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
        integrity="sha384-JrG1zM8sO4e8U26cPTh1fn8XG4U8OnkI4E2L08WiW4wrIYwIedzAB8FEm5GhYv05"
        crossorigin="anonymous"></script>
</body>
</html>
