{% extends 'main/base.html' %}

{% block links %}
<li class="nav-item"><a href="{% url 'home' %}" class="nav-link">Главная</a></li>
<li class="nav-item"><a href="{% url 'teams' %}" class="nav-link">Команды</a></li>
<li class="nav-item"><a href="{% url 'matches' %}" class="nav-link active" aria-current="page">Матчи</a></li>
<li class="nav-item"><a href="{% url 'seasons' %}" class="nav-link">Сезоны</a></li>
<li class="nav-item"><a href="{% url 'about' %}" class="nav-link">О нас</a></li>
{% endblock %}

{% block content %}
<h1>Матчи</h1>
{% endblock %}