{% extends 'main/base.html' %}

{% block links %}
<li class="nav-item"><a href="{% url 'home' %}" class="nav-link">Главная</a></li>
<li class="nav-item"><a href="{% url 'teams' %}" class="nav-link active" aria-current="page">Команды</a></li>
<li class="nav-item"><a href="{% url 'matches' %}" class="nav-link">Матчи</a></li>
<li class="nav-item"><a href="{% url 'seasons' %}" class="nav-link">Сезоны</a></li>
<li class="nav-item"><a href="{% url 'about' %}" class="nav-link">О нас</a></li>
{% endblock %}

{% block content %}
<h1 class="display-1 text-center fw-bold my-5 text-white" style="text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);">Команды</h1>
<div class="text-center">
    {% if teams %}
    {% for team in teams %}
    <div class="p-4 mb-4 bg-body-tertiary rounded-3 mx-auto" style="max-width: 500px;">
        <h2>Команда {{ team.1 }}</h2>
        <h5>Город {{ team.2 }}, создана в {{ team.3 }} году</h5>
        <br>
        <h3>Статистика</h3>
        <p>
            Всего сыграно игр: {{ team.4 }}
            <br>
            Побед: {{ team.5 }}
            <br>
            Поражений: {{ team.6 }}
        </p>
        <br>
        <h3>Состав команды:</h3>
        <p>
            {{ team.7.0 }}, {{ team.7.1 }}
            <br>
            {{ team.8.0 }}, {{ team.8.1 }}
        </p>
    </div>
    {% endfor %}
{% else %}
    <h3 class="display-3 text-center fw-bold my-5 text-white" style="text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);">Похоже тут пока пусто...</h3>
{% endif %}

</div>
{% endblock %}
